<!doctype html>
<html lang="en">

<head>
  <title>Terms & Privacy</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  .padding {
    padding: 75px 75px 75px 75px;
  }
</style>

<body style="background-color:white">
  <!--<div class="container-fluid" style="background-color: black">
      <h1 style="text-align: center; color:white" class="text-capitalize">Terms & Privacy</h1>
      </div>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3">
        <img src="../Media/PET.png" class="img-fluid" style="height: 100px; width: 150px">
      </div>
      <div class="col-12 col-sm-9 col-md-9">
        <blockquote class="blockquote text-success text-capitalize">
          <h1 class="mb-1">Terms & Privacy</h1>
          <footer class="blockquote-footer text-warning text-capitalize" style="font-size: 20px"> <cite
              title="Source Title">Guarantee
              Secured Privacy Policies and Reasonable Terms and Condition </cite>
          </footer>
        </blockquote>
        <a href="http://127.0.0.1:5500/Layouts/layout_form.html">Home</a>
      </div>
    </div>
  </div>

  <div class="padding" id="info" style="color: black"></div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../Service/Service_main.js"></script>
  <script>
    /*var terms = Terms_and_Service();
    info.innerHTML = terms;*/
    var terms_policy=Terms_and_Service()
    info.innerHTML=terms_policy
  </script>
</body>

</html>